<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ies.mapper.SchoolMajorMapper" >
  <resultMap id="BaseResultMap" type="com.ies.domain.SchoolMajor" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="schoolid" property="schoolid" jdbcType="INTEGER" />
    <result column="majorid" property="majorid" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="TypicalOffer" property="typicaloffer" jdbcType="REAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, schoolid, majorid, description, year, TypicalOffer
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ies.domain.SchoolMajorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from school_major
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from school_major
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from school_major
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ies.domain.SchoolMajorExample" >
    delete from school_major
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ies.domain.SchoolMajor" >
    insert into school_major (id, schoolid, majorid, 
      description, year, TypicalOffer
      )
    values (#{id,jdbcType=INTEGER}, #{schoolid,jdbcType=INTEGER}, #{majorid,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, #{typicaloffer,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ies.domain.SchoolMajor" >
    insert into school_major
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="schoolid != null" >
        schoolid,
      </if>
      <if test="majorid != null" >
        majorid,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="typicaloffer != null" >
        TypicalOffer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="schoolid != null" >
        #{schoolid,jdbcType=INTEGER},
      </if>
      <if test="majorid != null" >
        #{majorid,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="typicaloffer != null" >
        #{typicaloffer,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ies.domain.SchoolMajorExample" resultType="java.lang.Integer" >
    select count(*) from school_major
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update school_major
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.schoolid != null" >
        schoolid = #{record.schoolid,jdbcType=INTEGER},
      </if>
      <if test="record.majorid != null" >
        majorid = #{record.majorid,jdbcType=INTEGER},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.year != null" >
        year = #{record.year,jdbcType=VARCHAR},
      </if>
      <if test="record.typicaloffer != null" >
        TypicalOffer = #{record.typicaloffer,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update school_major
    set id = #{record.id,jdbcType=INTEGER},
      schoolid = #{record.schoolid,jdbcType=INTEGER},
      majorid = #{record.majorid,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      year = #{record.year,jdbcType=VARCHAR},
      TypicalOffer = #{record.typicaloffer,jdbcType=REAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ies.domain.SchoolMajor" >
    update school_major
    <set >
      <if test="schoolid != null" >
        schoolid = #{schoolid,jdbcType=INTEGER},
      </if>
      <if test="majorid != null" >
        majorid = #{majorid,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="typicaloffer != null" >
        TypicalOffer = #{typicaloffer,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ies.domain.SchoolMajor" >
    update school_major
    set schoolid = #{schoolid,jdbcType=INTEGER},
      majorid = #{majorid,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      year = #{year,jdbcType=VARCHAR},
      TypicalOffer = #{typicaloffer,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>